@import '../../../styles/colors.less';

:local(.footer) {
  background-color: @dark-indigo;
  min-height: 57px;
  width: 100%;
  //position: fixed;
  //bottom: 0;

  footer {
    width: 100%;
  }
}

:local(.copy_right) {
  font-size: 14px;
  font-weight: 300;
  color: @dark-sky-blue;
  text-align: right;
  padding-right: 26px;
}

:local(.api) {
  font-size: 16px;
  color: @dark-sky-blue !important;
}
