@import '~Root/styles/colors';

:local(.cube) {
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:local(.cube_purple) {
  background-color: @light-purple;
  color: @purple;
}

:local(.cube_green) {
  background-color: @light-boring-green;
  color: @boring-green;
}

:local(.cube_red) {
  background-color: @light-red;
  color: @red;
}

:local(.cube_gray) {
  background-color: #fff7d1;
  color: #d3a637;
}
