@import '~Root/styles/colors.less';

:local(.container) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: @pale-grey;
}

:local(.loadIcon) {
  width: 32px;
  height: 32px;
  animation: linear load 2s infinite;
}

@keyframes load {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
