@import '../../../../styles/colors';

:local(.header) {
  padding: 19px 15px 19px 15px;
}

:local(.title) {
  font-size: 18px;
  font-weight: 600;
  color: @dark-indigo;
}

:local(.subject) {
  font-size: 14px;
  font-weight: 300;
  color: @battleship-grey;
}

:local(.subject_num) {
  font-size: 20px;
  color: @dark-sky-blue;
}

:local(.right_title_box) {
  padding-left: 78px;
  padding-right: 65px;
  @media (max-width: 1450px) {
    padding-right: 0;
    padding-left: 0;
  }
}

:local(.country) {
  font-size: 16px;
  color: @dark-indigo;
  margin-bottom: 0;
}

:local(.body) {
  padding: 22px 15px 22px 15px;

  .progress {
    height: 25px;
    border-radius: 2px;
    background-image: linear-gradient(to left, @dark-sky-blue, @secondary-dark-sky-blue 100%) !important;
  }
}

:local(.other) {
  font-size: 16px;
  line-height: 1.56;
  color: @dark-indigo;
  margin-bottom: 0;
}

:local(.more) {
  font-size: 30px;
}

:local(.loading) {
  font-size: 30px;
  margin: 20px;
}
