@import '../../../../styles/colors';

:local(.banner) {
  width: 100%;
  height: 94px;
  border-radius: 4px;
  background-image: linear-gradient(to left, @secondary-dark-sky-blue, @dark-sky-blue);

  h1 {
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }
}

:local(.number) {
  font-size: 35px;
}

:local(.address) {
  font-size: 20px;
}
