:local(.main) {
  padding-right: 36px;
  padding-left: 36px;
  @media (max-width: 767px) {
    padding-right: 15.5px;
    padding-left: 15.5px;
  }
}

:local(.main_container) {
  //height: 100%;
  min-height: -moz-calc(100vh - (81px + 54px + 192px + 10px));
  min-height: -webkit-calc(100vh - (81px + 54px + 192px + 10px));
  min-height: calc(100vh - (81px + 54px + 192px + 10px));
}
