@import '../../../../styles/colors';

:local(.title) {
  font-size: 18px;
  font-weight: 600;
  color: @dark-indigo;
  margin-bottom: 0;
  padding: 18px 15px 18px 15px;
}

:local(.list) {
  direction: rtl;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;

  ul {
    direction: ltr;
  }

  ul > li {
    padding-left: 0 !important;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    border: 1px solid rgba(235, 237, 241) !important;
    border-right: 0 !important;
    border-left: 0 !important;
  }

  ul > li:first-child {
    border-top: 0 !important;
  }

  ul > li:last-child {
    border-bottom: 0 !important;
  }

  h6 {
    margin-bottom: 0;
  }

  .badge {
    border-radius: 15.5px;
    font-size: 16px;
    font-weight: 300;
    padding: 7px 15px;
  }

  .icon-clock, .icon-copy, .icon-qr-code {
    color: @light-gray !important;
    font-size: 13.9px !important;
  }
}

:local(.list_label) {
  font-size: 16px;
  color: @battleship-grey;
}

:local(.list_text) {
  font-size: 16px;
  color: @dark-indigo;
}

:local(.pl) {
  padding-left: 62px;
  @media (max-width: 991px) {
    padding-left: 15px;
  }
}

:local(.info) {
  font-size: 16px;
  color: @dark-indigo;
}

:local(.node_client_box) {
  padding-right: 30px;
  padding-left: 30px;

  .icon-server, .icon-down-arrow {
    color: @battleship-grey !important;
  }

  .icon-server {
    font-size: 23px !important;
  }

  .icon-down-arrow {
    font-size: 19px;
  }
}

