@import '../../../../styles/colors';

:local(.icon) {
  font-size: 33px;
  color: @battleship-grey;
}

:local(.title) {
  font-size: 16px;
  font-weight: 500;
  color: @dark-indigo;
}

:local(.text) {
  font-size: 14px;
  color: @battleship-grey;
  margin-bottom: 0;
}

:local(.padding) {
  padding-top: 35px;
  padding-bottom: 25px;
}
