@primary-navy-blue: #19295b;
@light-primary-navy-blue: #253361;
@secondary-navy-blue: #29355D;
@dark-indigo: #0d163a;
@purple-gray: #72758C;
@dark-sky-blue: #2c99ed;
@secondary-dark-sky-blue: #58c9f7;
@pale-grey: #f8f9fa;
@pale-blue-gray: #f6f8fd;
@very-light-blue: #ebedf1;
@light-gray: #c1c1c1;
@battleship-grey: #72758c;
@boring-green: #4ecc65;
@light-sky-blue: #f4f9ff;
@secondary-light-sky-blue: #eef5ff;
@purple: #a66aee;
@light-purple: #f9f4ff;
@red: #a52b2b;
@secondary-red: #cc4e4e;
@light-red: #fff4f4;
@light-boring-green: #f4fff6;
@white-gray: #EBEDF1;

