@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'fonts.less';
@import "colors.less";

@font-face {
  font-family: "Helvetica LT W01 Roman";
  src: url("../fonts/Helvetica/1489436/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix");
  src: url("../fonts/Helvetica/1489436/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix") format("eot"), url("../fonts/Helvetica/1489436/89294146-207c-4803-91fe-338f0d0094bd.woff2") format("woff2"), url("../fonts/Helvetica/1489436/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff"), url("../fonts/Helvetica/1489436/2922d55c-8df4-4066-b7b0-eec2d1524330.ttf") format("truetype");
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?67lh0d');
  src: url('../fonts/icomoon/icomoon.eot?67lh0d#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?67lh0d') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?67lh0d') format('woff'),
  url('../fonts/icomoon/icomoon.svg?67lh0d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-music:before {
  content: "\e917";
}

.icon-menu:before {
  content: "\e918";
}

.icon-caret-down:before {
  content: "\e915";
}

.icon-arrow-down-sign-to-navigate:before {
  content: "\e916";
}

.icon-both_directions:before {
  content: "\e911";
}

.icon-group:before {
  content: "\e912";
}

.icon-link:before {
  content: "\e913";
}

.icon-refresh:before {
  content: "\e914";
}

.icon-cancel:before {
  content: "\e900";
}

.icon-checked:before {
  content: "\e901";
}

.icon-clock:before {
  content: "\e902";
}

.icon-copy:before {
  content: "\e903";
}

.icon-down-arrow:before {
  content: "\e904";
}

.icon-expand-arrow-left:before {
  content: "\e905";
}

.icon-expand-arrow-right:before {
  content: "\e906";
}

.icon-global:before {
  content: "\e907";
}

.icon-long-arrow-down:before {
  content: "\e908";
}

.icon-long-arrow-up:before {
  content: "\e909";
}

.icon-mining:before {
  content: "\e90a";
}

.icon-qr-code:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e90c";
}

.icon-server:before {
  content: "\e90d";
}

.icon-simple-twitter:before {
  content: "\e90e";
}

.icon-sugar-cube:before {
  content: "\e90f";
}

.icon-vector:before {
  content: "\e910";
}

.icon-phone-hang-up:before {
  content: "\e943";
}

.icon-stopwatch:before {
  content: "\e952";
}

html, body, #root {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

body {
  background-color: @pale-grey;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.background-color-gradient {
  background-image: linear-gradient(to left, @primary-navy-blue, @dark-indigo) !important;
}

.border-test {
  border: 1px solid red !important;
}

.p-v-center {
  position: relative;
}

.c-v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.p-vh-center {
  position: relative;
}

.c-vh-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  border-radius: 4px !important;
  border: solid 1px @very-light-blue !important;
  background-color: white;
  height: 100%;
}

.card-body {
  padding: 0 !important;
}

.table {
  margin-bottom: 0;
}

.page-title {
  font-size: 18px;
  font-weight: 700;
  color: @dark-indigo;
  text-align: left;
}

.hr {
  border-top: 1px solid @very-light-blue !important;
}

.f-s-8 {
  font-size: 8px;
}

.f-s-9 {
  font-size: 9px;
}


.f-s-11 {
  font-size: 11px !important;
}

.f-s-12 {
  font-size: 12px !important;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-20 {
  font-size: 20px !important;
}

.color-gray {
  color: @battleship-grey !important;
}

.color-indigo {
  color: @dark-indigo !important;
}

.color-sky-blue {
  color: @dark-sky-blue !important;
}

.rotate {
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.rotate.rotate-down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg) !important;
  padding-left: 5px;
}
