@import "../../.././../styles/colors";

:local(.drop) {
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    //display: none;
    position: absolute;
    background-color: @light-primary-navy-blue;
    min-width: 160px;
    z-index: 3;
    right: 1px;
    transition: opacity 0.3s ease-out;
    transform: translateY(-10px) scaleY(0.5);
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .dropdown-content a:hover {
    transition: ease-in 0.3s;
    background-color: @secondary-navy-blue;
  }

  .dropdown:hover .dropdown-content {
    //display: block;
    //opacity: 1;
    opacity: 1;
    height: auto;
    transform: translateY(0) scaleY(1);
  }
}

ul > li > a:local(.padding_nav_item_right),
ul > li > div > a:local(.padding_nav_item_right) {
  padding-right: 35px !important;

  @media ( max-width: 1200px) {
    padding-right: 15px !important;
  }
}

