@import '../../../../styles/colors';

:local(.title) {
  font-size: 16px;
  color: @dark-indigo;
}

:local(.padding_top_part) {
  padding: 18px 23px 10px 10px;
}

:local(.price) {
  font-size: 18px;
  font-weight: 300;
  color: @dark-indigo;
  text-align: left;

  b {
    font-size: 22px;
    font-weight: bold;
  }
}

:local(.percentageRed) {
  color: @red;
  font-size: 16px;
  text-align: right;
  padding-top: 3px;
}

:local(.percentageGreen) {
  font-size: 16px;
  color: @boring-green;
  text-align: right;
  padding-top: 3px;
}

:local(.label) {
  font-size: 14px;
  color: @dark-indigo;
  white-space: nowrap;
  @media (max-width: 1300px) {
    font-size: 13px;
  }
}

:local(.text) {
  font-size: 14px;
  text-align: right;
  color: @battleship-grey;
  margin-bottom: 8px;
  white-space: nowrap;
  @media (max-width: 1300px) {
    font-size: 13px;
  }
}

:local(.update) {
  font-size: 10px;
  color: @light-gray;
}
