@import "../../../../styles/colors.less";

:local(.search) {
  width: 374px;

  @media (max-width: 1335px) {
    width: 280px;
  }

  @media (max-width: 1060px) {
    width: 230px;
  }

  @media (max-width: 992px) {
    width: 374px;
  }

  @media (max-width: 700px) {
    width: 300px;
  }


  .btn {
    width: 42px;
    height: 40px;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background-color: @secondary-navy-blue;
    padding-top: 9px;

    i {
      color: @purple-gray;
      opacity: 1 !important;
    }
  }

  .btn:focus {
    box-shadow: 0 0 0 0 !important;
  }

  .input-group {
    border: solid 1px rgba(255, 255, 255, 0.3) !important;
    border-radius: 4px;
    width: 100%;

    input {
      background-color: transparent !important;
      border: none !important;
      color: white !important;
      font-size: 12px;
      padding-top: 14px;
      z-index: 2;
    }

    input::-webkit-input-placeholder {
      font-size: 12px;
      line-height: 1.17;
      color: @purple-gray;
    }

    input:focus {
      box-shadow: 0 0 0 0 !important;
    }
  }
}


