@import '../../../styles/colors';

:local(.simple_pagination) {
  margin-bottom: 0;

  .page-item > .page-link, .page-item.disabled > .page-link {
    border: 1px solid transparent;
  }

  .page-item > .page-link {
    margin: 4px;
    padding: 6px 13px;
    white-space: nowrap;
  }

  .page-item > :local(.page_link_next_prev) {
    padding: 7px 8px 5px 8px;
  }

  .page-item > .page-link, .page-item > .page-link:hover {
    font-size: 11px;
    color: @dark-sky-blue;
    background-color: @pale-blue-gray;
    border-radius: 2.2px;
  }

  .page-item.disabled > .page-link, .page-item > .paginate-text, .page-item > .paginate-text:hover {
    font-size: 11px;
    color: @battleship-grey;
  }

  .page-item > .page-link:hover {
    background: @pale-blue-gray;
  }
}
