@import "../../../../styles/colors.less";

:local(.search) {
  width: 100%;

  .btn {
    width: 161px;
    height: 64px;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background-color: @dark-sky-blue;
    padding-top: 7px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;

    @media (max-width: 600px) {
      height: 45px;
      width: 126px;
    }
  }

  .btn:focus {
    box-shadow: 0 0 0 0 !important;
  }

  .input-group {
    border-radius: 4px;
    width: 100%;
  }

  input:focus {
    box-shadow: 0 0 0 0 !important;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 2px rgba(255, 255, 255, 0.3);
  }

  input {
    z-index: 2;
  }
}

:local(.input) {
  color: white !important;
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 2px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
  @media (max-width: 600px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

:local(.input)::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.56;
  color: @purple-gray;
}

:local(.lg_width) {
  display: block;
  @media (max-width: 600px) {
    display: none;
    :local(.input) {
      border-right: 0 !important;
    }
  }

  input:focus, input:active, input:focus-within {
    border-right: 0 !important;
  }
}

:local(.sm_width) {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }

  button {
    z-index: 2;
    position: inherit;
    margin-top: 60px;
  }
  input {
    position: absolute;
  }
}

