@import "../../../styles/colors.less";

:local(.navbar) {
  background-image: linear-gradient(to left, @primary-navy-blue, @dark-indigo) !important;
  padding: 1.4% 6.7%;

  @media (max-width: 768px) {
    padding: 1.4% 3%;
  }

  ul > li > a, ul > li > .dropdown > a {
    color: white !important;
    font-size: 16px;
  }
}

:local(.drop) {
  margin-left: 20px;

  @media (max-width: 900px) {
    margin-left: 10px;
  }

  //@media (max-width: 992px) {
  //  display: none;
  //}
}

:local(.lg_searchbar) {
  background-image: linear-gradient(to left, @primary-navy-blue, @dark-indigo);
  padding-top: 2%;
  padding-bottom: 4.7%;
}

:local(.explore_title) {
  font-size: 26px;
  color: #ffffff;
  text-align: center;
}

:local(.lg_search_padding) {
  padding-right: 42px;
  padding-left: 42px;

  .col-12 {
    @media (max-width: 600px) {
      padding-left: 0!important;
    }
  }
}

:local(.responsive_search) {
  background-image: linear-gradient(to left, @primary-navy-blue, @dark-indigo) !important;
  padding: 0.5% 6.7% 2% 6.7%;
  display: none;
  @media (max-width: 1470px) and (min-width: 992px) {
    display: block;
  }
}

:local(.responsive_search_main) {
  display: block;
  @media (max-width: 1470px) and (min-width: 992px) {
    display: none;
  }

  @media (max-width: 992px) {
    width: 100%;
  }
}

:local(.search_margin) {
}

:local(.search_box) {
  display: none;
  @media (max-width: 992px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 45px;
  }
}

:local(.collapse) {
  .navbar-nav, .input-group {
    direction: ltr;
  }

  .input-group {
    margin-right: 35px;
    @media (max-width: 1200px) {
      margin-right: 10px;
    }
  }

}

