@import '../../../../styles/colors';

:local(.simple_table) {
  table thead {
    background-color: @pale-blue-gray;
  }

  table thead th {
    border-bottom: 1px solid transparent !important;
    border-top: 1px solid @very-light-blue !important;
    font-size: 16px;
    font-weight: 500;
    color: @battleship-grey;
  }

  table td, table th {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid @very-light-blue;
    white-space: nowrap !important;
  }

  table tbody tr td {
    font-size: 14px;
    font-weight: normal;
    padding-top: 19px !important;
    padding-bottom: 19px !important;
  }

  table tbody tr td:first-child, table tbody tr td:nth-child(2) {
    color: @dark-sky-blue;
  }
}

:local(.padding_left) {
  padding-left: 16px !important;
}

:local(.scroll) {
  @media (max-width: 1145px) {
    overflow-x: scroll;
  }
}

:local(.scroll)::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

:local(.scroll)::-webkit-scrollbar {
  height: 7px;
  background-color: white;
}

:local(.scroll)::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @white-gray;
}

:local(.green_arrow) {
  color: @boring-green;
  font-size: 23px;
}

:local(.red_arrow) {
  color: @secondary-red;
  font-size: 23px;
}
