@import "../../../styles/colors.less";

:local(.drop) {
  width: 180px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
  @media (max-width: 1200px) {
    width: 160px;
  }

  :local(.drop_dot) {
    width: 10px;
    height: 10px;
    background-color: @boring-green;
    border-radius: 50%;
  }
}
