@import '../../../../styles/colors';

:local(.info) {
  font-size: 16px;
  color: @dark-indigo;
}

:local(.node_client_box) {
  padding-right: 30px;
  padding-left: 30px;

  .icon-server, .icon-down-arrow {
    color: @battleship-grey !important;
  }

  .icon-server {
    font-size: 23px !important;
  }

  .icon-down-arrow {
    font-size: 19px;
  }
}
