@import "../../../styles/colors";

:local(.title) {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: @dark-indigo;
}

:local(.text) {
  font-size: 20px;
  line-height: 1.75;
  text-align: center;
  color: @battleship-grey;

  span {
    color: @dark-indigo;
  }
}

:local(.button) {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: white;
  border-radius: 4px;
  background-color: @dark-sky-blue;
  width: 162px;
  height: 50px;
  padding-top: 10px;
}

:local(.button):focus, :local(.button):active, :local(.button):hover {
  box-shadow: 0 0 0 0;
  color: white;
}
