@import '../../../../styles/colors';

:local(.title) {
  font-size: 14px;
  font-weight: 600;
  color: @dark-indigo;
  margin-bottom: 0;
  padding: 15px 24px 15px 24px;
}

:local(.list) {
  direction: rtl;

  ul {
    direction: ltr;
  }

  ul > li {
    padding-left: 0 !important;
    padding-top: 21px !important;
    padding-bottom: 21px !important;
    border: 1px solid rgba(235, 237, 241) !important;
    border-right: 0 !important;
    border-left: 0 !important;
  }

  ul > li:first-child {
    border-top: 0 !important;
  }
}

:local(.cube) {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: @light-sky-blue;
  color: @dark-sky-blue;
  font-size: 28px;
}

:local(.list_title) {
  color: @dark-sky-blue;
  word-break: break-all;
}

:local(.list_text) {
  color: @battleship-grey;
  margin-bottom: 0;
}

:local(.second_box) {
  padding-left: 30px;
  @media (max-width: 576px) {
    padding-left: 45px;
  }
}

:local(.button), :local(.button:hover) {
  font-size: 14px;
  text-align: center;
  color: @dark-sky-blue;
  width: 100%;
  //height: 31px;
  border-radius: 4px;
  background-color: @secondary-light-sky-blue;
  margin-top: 13px;
  margin-bottom: 13px;
}

:local(.button:focus) {
  box-shadow: 0 0 0 0;
}

:local(.padding_right_col) {
  padding-right: 13px;

  h6 {
    text-align: right;
    margin-bottom: 0;
    @media (max-width: 576px) {
      text-align: left;
      padding-top: 15px;
    }
  }
}

:local(.position_relative) {
  @media (max-width: 576px) {
    position: relative !important;
    padding-top: 15px;
    padding-left: 15px;
  }
}

:local(.scroll) {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

:local(.scroll)::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: white;
}

:local(.scroll)::-webkit-scrollbar {
  width: 7px;
  background-color: white;
}

:local(.scroll)::-webkit-scrollbar-thumb {
  transition: ease-in 0.3s;
}

:local(.scroll:hover)::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: @white-gray;
  transition: ease-in 0.3s;
}

