@import '../../../../styles/colors';

:local(.simple_table) {
  table thead {
    background-color: @pale-blue-gray;
  }

  table thead th {
    border-bottom: 1px solid transparent !important;
    border-top: 1px solid @very-light-blue !important;
    font-size: 16px;
    font-weight: 500;
    color: @battleship-grey;
  }

  table td, table th {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid @very-light-blue;
    white-space: nowrap !important;
  }

  table tbody tr td {
    font-size: 14px;
    font-weight: normal;
    padding-top: 19px !important;
    padding-bottom: 19px !important;
  }

  table tbody tr td:first-child, table tbody tr td:nth-child(2) {
    color: @dark-sky-blue;
  }
}

:local(.padding_left) {
  padding-left: 16px !important;
}

:local(.scroll) {
  @media (max-width: 650px) {
    overflow-x: scroll;
  }
}

:local(.scroll)::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

:local(.scroll)::-webkit-scrollbar {
  height: 7px;
  background-color: white;
}

:local(.scroll)::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @white-gray;
}

:local(.default_badge) {
  width: 67px;
  text-align: center;
  font-size: 14px;
  color: @dark-sky-blue;
  border-radius: 4px;
  background-color: @light-sky-blue;
  padding: 5px 8px;
  margin-bottom: 0;
  @media (max-width: 900px) {
    width: auto;
  }
}
