@import '../../../../styles/colors';

:local(.header) {
  padding: 19px 15px 19px 15px;

  h6 {
    font-size: 18px;
    font-weight: 600;
    color: @dark-indigo;
    margin-bottom: 0;
  }
}

:local(.loading) {
  font-size: 30px;
  margin: 20px;
}
